#map{
	position: absolute;
	height: 600px;
	width: 800px;
	z-index: 1;
	top: 0;
	left: 0;
}

#topUi{
	position: absolute;
	height: 45px;
	width: 700px;
	z-index: 5;
	top: 0;
	left: 50px;
	transition: height .5s;
}

#mapToListButton{
	width: 100px;
	left: 150px;
	top: 0px;
}

#infoButton{
	width: 120px;
	left: 290px;
	top: 0px;
}

#contactUs{
	width: 100px;
	left: 450px;
	top: 0px;
}

.topUiButton{
	background-color: #6d0af5;
	height: 100%;
	position: absolute;
	z-index: 6;
	font-size: 15px;
	color: #ffffff;
	border: none;
	outline: none;
}

.topUiButton:hover{
	background-color: #5809c4;
}

#changeMapButton{
	position: absolute;
	top: 45px;
	left: 500px;
	width: 200px;
	height: 30px;
	background-color: #6d0af5;
	transition: left 1s;
	z-index: 7;
	font-size: 15px;
	color: #ffffff;
	border: none;
	outline: none;
}

#topUiTitle{
	position: absolute;
	width: 100%;
	height: 100px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 7;
	pointer-events: none;
}

#topUiBody{
	position: absolute;
	width: 80%;
	height: 400px;
	left: 5%;
	font-size: 20px;
	color: #ffffff;
	z-index: 7;
	top: 70px;
	pointer-events: none;
}

#changeMapButton:hover{
	background-color: #5809c4;
}

#listUi{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 700px;
	height: 500px;
	z-index: 6;
	pointer-events: none;
}

#listUiBackground{
	position: absolute;
	opacity: .7;
	width: 100%;
	height: 100%;
	background-color: #999999;
	z-index: 3;
}


.countryListButton{
	position: absolute;
	height: 22px;
	width: 230px;
	top: 0px;
	left: 0px;
	background-color: #e0e0e0;
	font-size: 14px;
	color: #fffde5;
	opacity: 1;
	transition: opacity .2s;
	z-index: 7;
	background-color: transparent;
	border: none;
	outline: none;
}


.countryListButton:hover{
	color: #ffbcd2;
}

.languageListButton{
	position: absolute;
	height: 22px;
	width: 130px;
	top: 0px;
	left: 0px;
	background-color: #e0e0e0;
	font-size: 14px;
	color: #fffde5;
	opacity: 1;
	transition: opacity .2s;
	z-index: 7;
	background-color: transparent;
	border: none;
	outline: none;
}

.languageListButton:hover{
	color: #ffbcd2;
}

#closeTopUiButton{
	position: absolute;
	top: 20px;
	left: 600px;
	width: 40px;
	height: 40px;
	background-color: #ff7279;
	font-size: 14px;
	color: #464d59;
	opacity: 0;
	transition: opacity .2s;
	z-index: 7;
	border: none;
	outline: none;
	pointer-events: none;
}

#closeTopUiButton:hover{
	background-color: #fffde5;
}

#switchList{
	position: absolute;
	top: 20px;
	left: 40px;
	width: 100px;
	height: 40px;
	background-color: #ff7279;
	font-size: 14px;
	color: #464d59;
	opacity: 1;
	transition: opacity .2s;
	z-index: 7;
	border: none;
	outline: none;
}

#switchList:hover{
	background-color: #fffde5;
}

#topUiBackground{
	background-color: #6f0df2;
	opacity: .7;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


#tickets{
	position: absolute;
	top: 650px;
}


#countryUi{
	position: absolute;
	height: 430px;
	width: 255px;
	top: 100px;
	left: 510px;
	z-index: 5;
	transition: width .5s, left .5s;
}

#countryMapUiBackground{
	position: absolute;
	opacity: .7;
	width: 100%;
	height: 100%;
	background-color: #f2a163;
	z-index: 3;
}


#backToCountryMap{
	position: absolute;
	height: 40px;
	width: 40px;
	left: 680px;
	top: 10px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	opacity: 0;
	transition: opacity .2s;
	z-index: 6;
}


.toLanguage{
	position: absolute;
	height: 25px;
	width: 200px;
	left: 100px;
	top: 80px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	opacity: 1;
	transition: opacity .2s;
	z-index: 6;
}

#mouseOverCountryName{
	position: absolute;
	width: 100%;
	height: 100px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 5;
}

#mouseOverCountryLanguages{
	position: absolute;
	top: 120px;
	width: 100%;
	height: 500px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	z-index: 5;
}

#welcomePage{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 600px;
	background-color: #008780;
	z-index: 10;
}

#welcomeText{
	position: absolute;
	width: 100%;
	top: 0px;
	height: 100px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 7;
	font-weight: bold;
}

#startButton{
	position: absolute;
	width: 100%;
	height: 100px;
	top: 500px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 7;
	font-weight: bold;
}

#startLogo{
	position: absolute;
	top: 0px;
	left: 115px;
	width: 540px;
	height: 600px;
}

#credit{
	position: absolute;
	top: 560px;
	z-index: 20;
	color: #ffffff;
}