#map{
	position: absolute;
	height: 600px;
	width: 800px;
	z-index: 1;
	top: 0;
	left: 0;
}

#tickets{
	position: absolute;
	top: 650px;
}

#changeMapButton{
	position: absolute;
	top: 20px;
	left: 550px;
	width: 150px;
	height: 40px;
	background-color: #ff7279;
	font-size: 14px;
	color: #464d59;
	opacity: 1;
	transition: opacity .2s;
	z-index: 7;
}

#countryUi{
	position: absolute;
	height: 430px;
	width: 255px;
	top: 100px;
	left: 510px;
	z-index: 5;
	transition: width .5s, left .5s;
}

#countryMapUiBackground{
	position: absolute;
	opacity: .7;
	width: 100%;
	height: 100%;
	background-color: #f2a163;
	z-index: 3;
}

#backToCountryMap{
	position: absolute;
	height: 60px;
	width: 100px;
	left: 500px;
	top: 300px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	opacity: 0;
	transition: opacity .2s;
	z-index: 6;
}

#mapToListButton{
	position: absolute;
	height: 60px;
	width: 100px;
	left: 100px;
	top: 240px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	transition: opacity .2s;
	z-index: 6;
}

.toLanguage{
	position: absolute;
	height: 25px;
	width: 200px;
	left: 100px;
	top: 80px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	opacity: 1;
	transition: opacity .2s;
	z-index: 6;
}

#mouseOverCountryName{
	position: absolute;
	width: 100%;
	height: 100px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 5;
}

#mouseOverCountryLanguages{
	position: absolute;
	top: 120px;
	width: 100%;
	height: 500px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	z-index: 5;
}

#languageUi{
	position: absolute;
	height: 430px;
	width: 0px;
	top: 100px;
	left: 35px;
	z-index: 5;
	transition: width .5s, left .5s;
	opacity: 0;
	pointer-events: none;
}

#languageUiBackground{
	position: absolute;
	opacity: .7;
	width: 100%;
	height: 100%;
	background-color: #d6ffda;
	z-index: 3;
}

#backToLanguageMap{
	position: absolute;
	height: 60px;
	width: 100px;
	left: 500px;
	top: 300px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	opacity: 0;
	transition: opacity .2s;
	z-index: 6;
}

#languageToListButton{
	position: absolute;
	height: 60px;
	width: 100px;
	left: 500px;
	top: 240px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	transition: opacity .2s;
	z-index: 6;
}

.languagePageCountryButton{
	position: absolute;
	height: 25px;
	width: 250px;
	left: 70px;
	top: 80px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	opacity: 1;
	transition: opacity .2s;
	z-index: 6;
}

.languagePageBookButton{
	position: absolute;
	height: 25px;
	width: 200px;
	left: 400px;
	top: 80px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	opacity: 1;
	transition: opacity .2s;
	z-index: 6;
}

#brochure{
	position: absolute;
	height: 30px;
	width: 200px;
	left: 400px;
	top: 45px;
	background-color: #e0e0e0;
	font-size: 15px;
	color: #464d59;
	transition: opacity .2s;
	z-index: 6;
}

#languageName{
	position: absolute;
	width: 265px;
	height: 100px;
	font-size: 30px;
	color: #464d59;
	text-align: center;
	z-index: 5;
}

#listUi{
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 50px;
	width: 700px;
	height: 500px;
	z-index: 6;
	pointer-events: none;
}

#listUiBackground{
	position: absolute;
	opacity: .7;
	width: 100%;
	height: 100%;
	background-color: #999999;
	z-index: 3;
}

#listTitle{
	position: absolute;
	width: 100%;
	height: 100px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 7;
}

.countryListButton{
	position: absolute;
	height: 22px;
	width: 230px;
	top: 0px;
	left: 0px;
	background-color: #e0e0e0;
	font-size: 14px;
	color: #fffde5;
	opacity: 1;
	transition: opacity .2s;
	z-index: 7;
	background-color: transparent;
	border: none;
	outline: none;
}


.countryListButton:hover{
	color: #ffbcd2;
}

.languageListButton{
	position: absolute;
	height: 22px;
	width: 130px;
	top: 0px;
	left: 0px;
	background-color: #e0e0e0;
	font-size: 14px;
	color: #fffde5;
	opacity: 1;
	transition: opacity .2s;
	z-index: 7;
	background-color: transparent;
	border: none;
	outline: none;
}

.languageListButton:hover{
	color: #ffbcd2;
}

#closeList{
	position: absolute;
	top: 20px;
	left: 600px;
	width: 40px;
	height: 40px;
	background-color: #ff7279;
	font-size: 14px;
	color: #464d59;
	opacity: 1;
	transition: opacity .2s;
	z-index: 7;
	border: none;
	outline: none;
}

#closeList:hover{
	background-color: #fffde5;
}

#switchList{
	position: absolute;
	top: 20px;
	left: 40px;
	width: 100px;
	height: 40px;
	background-color: #ff7279;
	font-size: 14px;
	color: #464d59;
	opacity: 1;
	transition: opacity .2s;
	z-index: 7;
	border: none;
	outline: none;
}

#switchList:hover{
	background-color: #fffde5;
}

#welcomePage{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 600px;
	background-color: #008780;
	z-index: 10;
}

#welcomeText{
	position: absolute;
	width: 100%;
	top: 0px;
	height: 100px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 7;
	font-weight: bold;
}

#startButton{
	position: absolute;
	width: 100%;
	height: 100px;
	top: 500px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 7;
	font-weight: bold;
}

#startLogo{
	position: absolute;
	top: 0px;
	left: 115px;
	width: 540px;
	height: 600px;
}